* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.face_left {
  transform: scale(1, -1);
}

.face_right {
  transform: scale(1, 1);
}
