* {
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
}

body {
    background-color: whitesmoke;
    color: gray;
    font-size: 14px;
}

h1 {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 24px;
}

p {
    margin-left: 10px;
    font-size: 20px;
}

a,
a:active,
a:hover,
a:link,
a:visited {
    background-color: whitesmoke;
    color: gray;
    text-decoration: underline;
}