* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

body {
    padding: 10px;
}

h3, p {
    padding: 5px 0px 5px 0px;
}